################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/NewProjectForItProger.sln
/NewProjectForItProger.sln
